#wrapper-navbar {

nav {
padding:0;
margin: -1%;


#main-menu {
  background-color: $brand-primary;
  padding: 15px;
  margin-left: 10%;
  position: absolute;
  display: inline-flex;
  top: 30%;
  left: 35%;
  /* float: right; */
  text-align: center;

  li {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    line-height: 1;

    &:not(:last-child) {
      border-right: 1px solid white;
    }
    .dropdown:hover>.dropdown-menu {
      display: block;
    }
    
    .dropdown-menu {
      background-color: $brand-primary;
      color: white;
      border:none;
      border-radius: unset;

    .dropdown-item:hover {
      background-color: lighten($brand-primary, 15%);
    }
    }

  a.nav-link {
    color: $brand-secondary;
    font-size: 14px;
    font-family: helvetica, sans-serif;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px;

    &:hover {
      color: $brand-third;
    }
}

}
}


  a {
    color: white;
    // change a on hover example
    // in CSS this was selected by nav a:hover

      .navbar-brand {
        min-width:5em;
        padding-top:unset;
      }

      & img {
        width: 70% !important;
      }
    }

  }
}
