#page-wrapper{

.programs-parallax-container {
  background:linear-gradient(#00000045,rgba(0,0,0,0), rgba(0,0,0,0), rgba(0,0,0,0), rgba(0,0,0,0)), url('../img/programs-parallax.png');
  height: 45rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  margin-top: -20%;
  margin-bottom: 2%;
  z-index: -2;
  position: relative;

  @media screen and (max-width: 600px) {
  margin-top: -40%;
  }

  & .programs-title {
    position: absolute;
    bottom:0;
    background-color: rgba(13, 81, 106, 0.5);
    color: white;
    text-align: center;
    h1 {
      color: white;
      font-size: 60px;
    }
    .summary {
      border-top: solid 1px white;
      color: white;
      & p {
        color: white;
      }
    }
  }
}

#mock-sidebar {
  ul {
    list-style-type: none;

    li {
      font-family: 'Bebas Neue';
      font-size: 23px;
      margin-top: 8px;
    a {
      color: white;
      text-align: left;
      padding: 10px;
      line-height:1;
      display: block;
      background-color: $brand-primary;

      &:hover {
        background-color: lightgrey;
        text-decoration: none;
      }

      &:focus {
        background-color: lightgrey;
      }
      .side-btn2 {
        font-size: 20px;
      }
    }
    }
  }
}

.age-group {
  color: $brand-four;
}

.programs-img {
  margin-bottom: 15px;
  margin-top: 20px;
}

}
